.mat-dialog-container {
    padding: 0;
  }
  .container {
    padding: 5px;
  }
  .mat-mdc-form-field {
    display: flex !important;
  }
  .file-name {
    margin-left: 1rem; /* or whatever margin you require */
  }
  